employeeapi(MULE Project)/src/main/mule/employeeapidesign.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="employeeapidesign-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="employeeapidesign-config" api="employeeapidesign.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="fe563255-51c3-40ef-9a4b-f6c3e23a654c" >
		<http:request-connection host="localhost" port="3000" />
	</http:request-config>
	<flow name="employeeapidesign-main">
        <http:listener config-ref="employeeapidesign-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employeeapidesign-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="employeeapidesign-console">
        <http:listener config-ref="employeeapidesign-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="employeeapidesign-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employees\(id):application\json:employeeapidesign-config">
        <http:listener doc:name="Listener" doc:id="3f22c210-bc10-49d1-82d0-c508cd45bde4" config-ref="employeeapidesign-httpListenerConfig" path="/employees/{id}" allowedMethods="PUT"/>
		<http:request method="PUT" doc:name="Request" doc:id="609433f0-22ed-4453-af6c-2446886770c3" config-ref="HTTP_Request_configuration" path="/employees">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : 1
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="delete:\employees\(id):employeeapidesign-config">
        <http:listener doc:name="Listener" doc:id="cba70c48-f7a6-4b3a-8e22-c62be92c69c1" config-ref="employeeapidesign-httpListenerConfig" path="/employees/{id}" allowedMethods="DELETE"/>
		<http:request method="DELETE" doc:name="Request" doc:id="f682325b-d31a-4b5d-b728-749b5f7a21e2" config-ref="HTTP_Request_configuration" path="/employees/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : "1"
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="get:\employees\salary\ds:employeeapidesign-config">
        <http:listener doc:name="Listener" doc:id="74314640-e0da-406b-bb68-538cfd215ef5" config-ref="employeeapidesign-httpListenerConfig" path="/employees/salary/ds" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="ad5c0284-4db0-455d-87ca-b6fd530d2131" config-ref="HTTP_Request_configuration" path="/employees/salary/ds"/>
    </flow>
    <flow name="get:\employees:employeeapidesign-config">
		<http:listener doc:name="Listener" doc:id="673cd67c-7e05-428c-9332-33d955818286" config-ref="employeeapidesign-httpListenerConfig" path="/employees" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="0bbdefb6-e8d1-4108-b12d-3e2aec22be80" config-ref="HTTP_Request_configuration" path="/employees"/>
    </flow>
    <flow name="get:\employees\salary\eu:employeeapidesign-config">
        <http:listener doc:name="Listener" doc:id="53a234ca-0e98-41d0-97c2-ff0cd3636b53" config-ref="employeeapidesign-httpListenerConfig" path="/employees/salary/eu" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="45523657-30f6-4d12-933e-3780e05a8c02" config-ref="HTTP_Request_configuration" path="/employees/salary/eu"/>
    </flow>
    <flow name="post:\employees:application\json:employeeapidesign-config">
		<http:listener doc:name="Listener" doc:id="d2d2762d-897e-4589-a165-51f4e90a4f9f" config-ref="employeeapidesign-httpListenerConfig" path="/employees" allowedMethods="POST"/>
		<http:request method="POST" doc:name="Request" doc:id="60c0c486-f39f-4301-8951-54cb1e1229bf" config-ref="HTTP_Request_configuration" path="/employees"/>
    </flow>
</mule>
